.sign-in
{
  width: 35vw;
  flex-direction: column;
  text-align: center;
}

.buttons{
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}